* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.weight,
.height,
.bmi {
  font-size: 24px;
  font-weight: bold;
}

#weight,
#height {
  border: none;
  border-bottom: 3px solid black;
  font-size: 36px;
}

#bmi {
  font-size: 36px;
  color: #00c;
  font-weight: bold;
}
